VITE_API_BASE_URL_DEV="http://dgsoftware.test/api"
VITE_API_URL_DEV="http://dgsoftware.test/"

VITE_API_BASE_URL="https://api.dgsoftware.app/api"
VITE_API_URL="https://api.dgsoftware.app/"

VITE_USER_TOKEN_NAME="u_access_token"

VITE_PUSHER_APP_ID_DEV=1424761
VITE_PUSHER_APP_KEY_DEV=623ae106fb74e000882f
VITE_PUSHER_APP_SECRET_DEV="653b78b8b12550cdc5dd"
VITE_PUSHER_APP_CLUSTER_DEV="us2"

VITE_PUSHER_APP_ID_PROD=1424763
VITE_PUSHER_APP_KEY_PROD=2fb6591fcc8e23215143
VITE_PUSHER_APP_SECRET_PROD="d1ba911c12912e41da06"
VITE_PUSHER_APP_CLUSTER_PROD="us2"