.custom-q-tabs .q-tab--active {
    color: #525f7f;
    background-color: #f8f9fe;
    border-color: #dee2e6 #dee2e6 #f8f9fe;
}

.custom-q-tabs .q-tab {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.q-inner-loading{
    // z-index: -1;
}

.nav-pills-tabs{
    .q-tabs__content{
        gap: 20px;
        padding-bottom: 15px;
    
        .q-tab {
            border-radius: .375rem;
            // padding: .5rem!important;
            padding: 0.5rem 2rem;
            color: #191A4D;
            font-weight: 500;
            font-size: 0.875rem;
            box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
            background-color: #fff;
            transition: all 0.15s ease;

            &.active-tab {
                color: #fff !important;
                background-color: #191a4d !important;
            }
        }

    }

    .q-tab__indicator{
        visibility: hidden;
    }

}

.custom-tabpanel .q-tab-panel {
    padding: 0;
}

.form-group .q-field__control {
    min-height: calc(1.5em + 1.25rem + 2px) !important;
    font-size: 0.875rem !important;
}

.custom-tabpanel {
    padding: 0;
}

.q-btn {
    border-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    text-transform: capitalize;
}

.q-date{
    .col{
        flex-basis: auto;
    }
}

.q-time{
    .col{
        flex-basis: auto;
    }
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.q-field.q-field--outlined .q-field__control{
    // border: 1px solid #cad1d7;
    border-color: #cad1d7;
    border-radius: 0.375rem;
}

.custom-check .q-checkbox{
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
}

.q-footer {
    z-index: 1;
}