.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fill-default {
    fill: #191A4D;
}

.shadow-dark {
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 15%) !important;
}

.bg-gradient-clear {
    background: linear-gradient(176deg, #ffffff 0, #dbd9d9 100%) !important;
}

.bg-default {
    background-color: #172B4D;
}

.drop-custom {
    top: auto;
    position: fixed;
    right: 5%;
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.input-group {
    background-color: white;
}

.audit-drop .dropdown-item {
    text-align: center;
    border-bottom: 0.5px lightgray solid;
}

.checked {
    color: #fff;
    background-color: #2f7500;
}

.steps {
    flex-flow: nowrap;
    overflow-x: auto;
}

@media (max-width: 767.98px) {
    .nav-pills.steps:not(.nav-pills-circle) .nav-item {
        padding-right: 1rem;
    }
    .steps {
        /* padding-left: 50% !important; */
    }
}

.max-h-modal {
    max-height: 95vh;
}

.border-light {
    border-color: #e8e8e8 !important;
}