.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.bg-default {
    background-color: #172B4D;
}

.checked {
    color: #fff;
    background-color: #2f7500;
}

.steps {
    flex-flow: nowrap;
    overflow-x: auto;
}

@media (max-width: 767.98px) {
    .nav-pills.steps:not(.nav-pills-circle) .nav-item {
        padding-right: 1rem;
    }
    .steps {
        /* padding-left: 50% !important; */
    }
}